html {
  font-size: 22px;
}

body {
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  color: #8a168a;
  background-color: #bbdcd3;
  font-family: Arial, sans-serif;
}

th,
td,
caption {
  border: 3px solid #f1faee;
  font-family: "Courier New", Courier, monospace;
  border-collapse: separate;
  padding: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: #333;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px;
}

nav ul li a:hover {
  color: #ff0000;
}

/* Style the header image */
header figure img {
  max-width: 100%;
  height: auto;
}

/* Style the table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-style: solid;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #000000;
  border-color: #1d3557;
  background-color: #e1e0e9;
}

table th {
  color: #8a168a;
}

table caption {
  font-weight: bold;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
  background-color: #333;
  color: #a87272;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  color: #ff0000;
}
h1 {
  color: #ff0000;
}

nav ul li a {
  color: #333;
  padding: 5px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ff0000;
}

table td {
  background-color: #e1e0e9;
}

caption {
  color: #3657dd;
  background-color: #e1e0e9;
  border-color: #1d3557;
}
